{% extends "base.html" %}
{% load static %}
{% block content %}
<!--body-->
<main class="container" role="main" style="height:100%;margin-top:8%;background-color:#ccccff;float:left;">
	<div class="my-3 p-3 bg-white rounded box-shadow" style="padding-top:50%;height:100%;">
		{% if profile %}
  			<p class="text-primary">
  				{{ profile.username }}
  			</p>
  			{% if status == False %}
  			<p class="badge badge-info">
  				<a href="/usermgr/add/{{profile.id}}" class="text-light">Add Friend</a>
  			</p>
  			{% endif %}
  		{% else %}
  		<p>-</p>
  		{{ warn }}
  		{% endif %}
	</div>
</main>
{% endblock %}
